<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>dao</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/normalize.css">
		<link rel="stylesheet" type="text/css" href="css/icon.css">
		<link rel="stylesheet" type="text/css" href="css/global.css">
		<link rel="stylesheet" type="text/css" href="css/order.css">
	</head>
	<body class="body">
		<header class="header">
			<div class="header-img">
				<img src="images/icon-back.png">
			</div>
			<div class="header-title">订单管理</div>
		</header>
		<nav class="nav">
			<a class="act" href="">全部</a>
			<a href="">待付款</a>
			<a href="">待发货</a>
			<a href="">待收货</a>
		</nav>
		<div class="list close">
			<div class="item">
				<div class="lr">
					<p>单号：2132165457654545</p>
					<h5>待付款</h5>
				</div>
				<div class="item-cont">
					<div class="item-cont-l">
						<img src="images/pro3.jpg">
					</div>
					<div class="item-cont-r">
						<h3 class="ellipsis">蓝之蓝蓝色瓶装经典Q7浓香型白酒500ml52度高端纯粮食酒2瓶装包邮</h3>
						<p>规格：红色</p>
						<div class="price-calc">
							<div class="price">
								￥<em>296.00</em>
							</div>
							<div class="calc">
								<p>数量：x1</p>
							</div>
						</div>
					</div>
				</div>
				<div class="total">
					共1件商品，<i>总金额：￥</i><em>296.00</em>
				</div>
				<div class="cz">
					<div class="dfk">
						<a href="">删除订单</a>
						<a class="color" href="close.html">去付款</a>
					</div>
					<p class="dfh">商品正在打包中，请您耐心等待....</p>
					<div class="dsh">
						<a class="color" href="">确认收货</a>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="lr">
					<p>单号：2132165457654545</p>
					<h5>待付款</h5>
				</div>
				<div class="item-cont">
					<div class="item-cont-l">
						<img src="images/pro3.jpg">
					</div>
					<div class="item-cont-r">
						<h3 class="ellipsis">蓝之蓝蓝色瓶装经典Q7浓香型白酒500ml52度高端纯粮食酒2瓶装包邮</h3>
						<p>规格：红色</p>
						<div class="price-calc">
							<div class="price">
								￥<em>296.00</em>
							</div>
							<div class="calc">
								<p>数量：x1</p>
							</div>
						</div>
					</div>
				</div>
				<div class="item-cont">
					<div class="item-cont-l">
						<img src="images/pro3.jpg">
					</div>
					<div class="item-cont-r">
						<h3 class="ellipsis">蓝之蓝蓝色瓶装经典Q7浓香型白酒500ml52度高端纯粮食酒2瓶装包邮</h3>
						<p>规格：红色</p>
						<div class="price-calc">
							<div class="price">
								￥<em>296.00</em>
							</div>
							<div class="calc">
								<p>数量：x1</p>
							</div>
						</div>
					</div>
				</div>
				<div class="total">
					共2件商品，<i>总金额：￥</i><em>296.00</em>
				</div>
				<div class="cz">
					<div class="dfk">
						<a href="">删除订单</a>
						<a class="color" href="close.html">去付款</a>
					</div>
					<p class="dfh">商品正在打包中，请您耐心等待....</p>
					<div class="dsh">
						<a class="color" href="">确认收货</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>